<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039334264389-9lqksuuhbb76flvpu21rsf9qpj7eue7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039334264389-9lqksuuhbb76flvpu21rsf9qpj7eue7h</string>
	<key>API_KEY</key>
	<string>AIzaSyB8O-ZbxxAk_PIyzGUpfu5LWdSofQhXHJs</string>
	<key>GCM_SENDER_ID</key>
	<string>1039334264389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shivvv.RunnerBeiOS</string>
	<key>PROJECT_ID</key>
	<string>runnerbe-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>runnerbe-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039334264389:ios:df63d5957db4271a889d2c</string>
</dict>
</plist>