<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14723660913-d5l315t862kkdvrrojem5pc92uggenau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14723660913-d5l315t862kkdvrrojem5pc92uggenau</string>
	<key>API_KEY</key>
	<string>AIzaSyCK30LvS1_KiBeMJYbnda5Tr7340bQyrFA</string>
	<key>GCM_SENDER_ID</key>
	<string>14723660913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shivvv.RunnerBeiOS</string>
	<key>PROJECT_ID</key>
	<string>runnerbe-f1986</string>
	<key>STORAGE_BUCKET</key>
	<string>runnerbe-f1986.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14723660913:ios:17f2019341cfdfc3566fd0</string>
</dict>
</plist>